<!doctype html>

<html lang="en" ng-app="WeatherApp">

<head>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <meta charset="utf-8">

    <title>Current Weather App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body ng-controller="WeatherAppCtrl as weatherCtrl">
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <div class="jumbotron" style="text-align: center;">
        <h1>Origin Weather Application</h1>
        <h3 style="font-style: italic">Always know if you need an unbrella!</h3>
    </div>
    <div class="container-fluid">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" ng-click="weatherCtrl.getWeather('San Diego')" class="btn btn-primary">San Diego</button>
            <button type="button" ng-click="weatherCtrl.getWeather('New York')" class="btn btn-primary">New York</button>
            <button type="button" ng-click="weatherCtrl.getWeather('Washington DC')" class="btn btn-primary">Washington D.C.</button>
            <button type="button" ng-click="weatherCtrl.getWeather('London')" class="btn btn-primary">London</button>
            <button type="button" ng-click="weatherCtrl.getWeather('Tokyo')" class="btn btn-primary">Tokyo</button>
        </div>
        <div class="input-group top-buffer">
            <input type="text" class="form-control" placeholder="Enter city name..." ng-model="weatherCtrl.cityName">
            <span class="input-group-btn">
               <button class="btn btn-primary" type="button" ng-click="weatherCtrl.addCity()">Go!</button>
            </span>
        </div>
        <div class="col-md-5 top-buffer margin: auto">
            <div class="panel panel-info">
                <div class="panel-heading">City Information</div>
                <div class="panel-body">
                    <p class="text-center lead"><strong>{{weatherCtrl.cityInfo.name}}</strong></p>
                    <p class="text-center small">Lat/Long: {{weatherCtrl.cityInfo.coord.lat}},{{weatherCtrl.cityInfo.coord.lon}}</p>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <td><strong>Temperature (F)</strong></td>
                                <td><strong>Pressure</strong></td>
                                <td><strong>Humidity</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-success"><strong>{{weatherCtrl.convertTemp}} F</strong></td>
                                <td class="text-success"><strong>{{weatherCtrl.cityInfo.main.pressure}}</strong></td>
                                <td class="text-success"><strong>{{weatherCtrl.cityInfo.main.humidity}}%</strong></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <td><strong>Lowest Temp (F)</strong></td>
                                <td><strong>Highest Temp (F)</strong></td>
                                <td><strong>Wind Speed</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-success"><strong>{{weatherCtrl.convertMinTemp}}F</strong></td>
                                <td class="text-success"><strong>{{weatherCtrl.convertMaxTemp}}F</strong></td>
                                <td class="text-success"><strong>{{weatherCtrl.cityInfo.wind.speed}} MPH</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5 top-buffer margin: auto">
            <div class="panel panel-info">
                <div class="panel-heading">Search History</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr ng-repeat="city in weatherCtrl.cities">
                            <td>{{city.cityTitle}}</td>
                            <td class="text-right">{{city.dates | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="alert" class="hide"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!-- inject:js -->
    <script src="app/module.app.js"></script>
    <script src="app/controller/WeatherApp.controller.js"></script>
    <!-- endinject -->
</body>

</html>
